<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CQ_mobile"
        tools:targetApi="31">

        <activity
            android:name=".SplashFolder.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
        android:hardwareAccelerated="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name=".Clock.ClockActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/ClockStyle"  />



        <activity android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme" />

        <activity android:name=".Clock.ViewListFolder.ViewListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>


        <activity android:name=".LoginFolder.Login"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/SplashTheme" />

        <activity android:name=".ui.home.HomeFolder.NewBuildFolder.NewBuild"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.home.HomeFolder.TaskFolder.TaskActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.home.HomeFolder.NotesNFilesAPI_folder.NotesFolder.NotesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.home.HomeFolder.NotesNFilesAPI_folder.FilesFoler.FilesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.home.HomeFolder.NotesNFilesAPI_folder.DocsFolder.DocsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.home.HomeFolder.NotesNFilesAPI_folder.SheetsFolder.SheetsAcitivy"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>


        <activity android:name=".MoreActivityFolder.MoreActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme" />


        <activity android:name=".ui.home.myJobsFolder.myJobs"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".NotificationData.ShowNotificationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".TestFolder.WebViewActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.ticket.ReplyTicketFolder.ReplyTicket"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.ticket.CreateFolder.CreateTicket"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.chat.InnerChatsFolder.InnerChats"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>

        <activity android:name=".HelperManagers.Notifications.ChatNotif_folder.ChatActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"/>


        <receiver android:name=".HelperManagers.Notifications.ChatNotif_folder.ChatReceiver"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDldAC6lIbzEjRDaluQO3oQKRJyvMAdoU0"/>



        <service
            android:name=".HelperManagers.Notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name=".Clock.ClockFolder.ClockInAPIFolder.TimerService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />





    </application>

</manifest>